header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  margin: 20px;
  margin-bottom: 27px;
  @include breakpoint(large) {
    height: 68px;
    margin: 100px;
    margin-top: 45px;
    margin-bottom: 50px;
  }

  img {
    width: 145px;
    height: 100%;
    @include breakpoint(large) {
      width: 210px;
    }
  }
}

nav {
  display: flex;
  gap: 26px;
}

.navButton {
  color: black;
  text-decoration: none;
  align-items: right;
  font-size: $header-footer-fs-mobile;
  font-weight: $header-footer-fw-mobile;
  @include breakpoint(large) {
    font-size: $header-footer-fs-desktop;
    font-weight: $header-footer-fw-desktop;
  }
}

.selected {
  text-decoration: underline;
}