.collapse {  
  border-radius: 5px;
  &__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: $collapse-title-fs-mobile;
    font-weight: $collapse-title-fw-mobile;
    
    .icon {
      width: 16px;
      height: 16px;
      font-size: $collapse-title-fs-desktop;
      font-weight: $collapse-title-fw-desktop;
      transition: all 0.1s linear;
    }

    .rotate {
      transform: rotate(-180deg);
    }
  }

  &__data-container {
    background-color: $secondary-color;
    font-size: $collapse-text-fs-mobile;
    font-weight: $collapse-text-fw-mobile;
    padding-left: 20px;
    padding-right: 20px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.1s ease;
    height: 0;
    overflow: auto;

    
    @include breakpoint(small) {
      font-size: $collapse-text-fs-desktop;
      font-weight: $collapse-text-fw-desktop;
    }
  }
  .open {
    padding-top: 20px;
    padding-bottom: 20px;
    transform: scaleY(1);
    height: fit-content;
  }
}
