.container {
  flex: 1;
  margin: 20px;
  margin-top: 27px;
  margin-bottom: 22px;

  @include breakpoint(small) {
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.rentals-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: transparent;
  border-radius: 25px;
  margin-top: 22px;
  margin-bottom: 27px;

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 60px;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 43px;
    margin-bottom: 50px;
    padding: 50px;
    padding-top: 56px;
    padding-bottom: 43px;
  }
}
