// Breakpoints
$breakpoints: (
  large: 576px
);

// Global variables
$font-family: Montserrat;
$home-card-title-ts: 18px;
$home-card-title-tw: 700;
$collapse-ts-desktop: 18px;
$collapse-tw-desktop: 700;
$collapse-title-ts-mobile: 13px;
$collapse-title-tw-mobile: 700;


// Header/Footer Desktop
$header-footer-ts-desktop: 24px;
$header-footer-tw-desktop: 500;
// Header/Footer Mobile
$header-footer-ts-mobile: 12px;
$header-footer-tw-mobile: 500;


// Home Desktop
$home-title-ts-desktop: 48px;
$home-title-tw-desktop: 700;
// Home Mobile
$home-title-ts-mobile: 24px;
$home-title-tw-mobile: 700;


// Housing Desktop
$housing-title-ts-desktop: 36px;
$housing-title-tw-desktop: 500;
$housing-text-ts-desktop: 18px;
$housing-text-tw-desktop: 500;
$housing-tag-ts-desktop: 14px;
$housing-tag-tw-desktop: 700;
// Housing Mobile
$housing-title-ts-mobile: 18px;
$housing-title-tw-mobile: 500;
$housing-subtitle-ts-mobile: 14px;
$housing-subtitle-tw-mobile: 500;
$housing-text-ts-mobile: 12px;
$housing-text-tw-mobile: 500;
$housing-tag-ts-mobile: 10px;
$housing-tag-tw-mobile: 700;


// Error Desktop
$error-title-ts-desktop: 288px;
$error-title-tw-desktop: 700;
$error-text-ts-desktop: 36px;
$error-text-tw-desktop: 500;
$error-link-ts-desktop: 18px;
$error-link-tw-desktop: 500;
// Error mobile
$error-title-ts-mobile: 96px;
$error-title-tw-mobile: 700;
$error-text-ts-mobile: 18px;
$error-text-tw-mobile: 500;
$error-link-ts-mobile: 14px;
$error-link-tw-mobile: 500;
