// Breakpoints
$breakpoints: (
  // small: 592px,
  small: 952px,
  medium: 1240px,
  large: 1440px
);

// Global variables
$font-family: Montserrat;
$home-card-title-ts: 18px;
$home-card-title-tw: 700;
$collapse-fs-desktop: 18px;
$collapse-fw-desktop: 700;
$collapse-title-fs-mobile: 13px;
$collapse-title-fw-mobile: 700;


// Header/Footer Desktop
$header-footer-fs-desktop: 24px;
$header-footer-fw-desktop: 500;
// Header/Footer Mobile
$header-footer-fs-mobile: 12px;
$header-footer-fw-mobile: 500;


// Home Desktop
$home-title-fs-desktop: 48px;
$home-title-fw-desktop: 700;
// Home Mobile
$home-title-fs-mobile: 24px;
$home-title-fw-mobile: 700;


// Housing Desktop
$housing-title-fs-desktop: 36px;
$housing-title-fw-desktop: 500;
$housing-text-fs-desktop: 18px;
$housing-text-fw-desktop: 500;
$housing-tag-fs-desktop: 14px;
$housing-tag-fw-desktop: 700;
// Housing Mobile
$housing-title-fs-mobile: 18px;
$housing-title-fw-mobile: 500;
$housing-subtitle-fs-mobile: 14px;
$housing-subtitle-fw-mobile: 500;
$housing-text-fs-mobile: 12px;
$housing-text-fw-mobile: 500;
$housing-tag-fs-mobile: 10px;
$housing-tag-fw-mobile: 700;


// Error Desktop
$error-title-fs-desktop: 288px;
$error-title-fw-desktop: 700;
$error-text-fs-desktop: 36px;
$error-text-fw-desktop: 500;
$error-link-fs-desktop: 18px;
$error-link-fw-desktop: 500;
// Error mobile
$error-title-fs-mobile: 96px;
$error-title-fw-mobile: 700;
$error-text-fs-mobile: 18px;
$error-text-fw-mobile: 500;
$error-link-fs-mobile: 14px;
$error-link-fw-mobile: 500;
